:root {
	--header-background-color: hsl(263.7, 17.3%, 24.8%);
	--header-font-color: hsl(68.7, 66.7%, 85.9%);
	--background-color: hsl(266.7, 14.8%, 76.1%);
	--font-color: hsl(26.7, 10.7%, 5.9%);
	--sectitle-color: hsl(146.7, 10.7%, 5.9%);
  --one-third-background: hsl(320.7, 10%, 66.8%);
}

body {
	/* padding-top: 140px; */
	overflow-x: hidden;
	font-family: Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	background-color: var(--background-color, #5A457A);
	color: var(--font-color, #ECF3C3);
	scroll-behavior: smooth;
}

section p, h2 {
  width: 87vw;
	padding-left: 15px;
}


blockquote {
	text-align: justify;
	background-color: gray;
	font-style: italic;
}

#header, #main {
	width: 101vw;
}

#header {
	background-color: var(--header-background-color, #786792);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	margin: -1px 0 0 -1px;
	padding-bottom: 1em;
}

#title {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center ;
	font-family: monaco, monospace;
	/* background-color: red; */

}

#header-img-container {
	width: 60px;
}

#product-name-container {
	text-transform: uppercase;
	color: var(--header-font-color, #ECF3C3);
}

#product-name-container	h1 {
 	margin: auto .25em auto auto;
  font-size: 40px;
}

#header-img {
	width: 100%;
	display: block;
	margin: auto;
}

#header-img:hover {
	width: 120%;
	background-color: var(--header-font-color);
}

#nav-bar {
	margin: auto auto auto -8px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.nav-link {
	width: 100%;
	color: var(--header-font-color, hsl(68.7, 66.7%, 85.9%));
	text-decoration: none;	
}

.nav-link:hover {
	width: 100%;
	color: var(--header-background-color, hsl(68.7, 66.7%, 85.9%));
	background-color: var(--header-font-color, hsl(68.7, 66.7%, 85.9%));
	text-decoration: none;	
	font-size: x-large;
	font-weight: bold;
}

section {
	margin: -20px 0px 10px -10px;
	width: 100%;
	padding: 10px 30px 0 10px;
}

section h2 {
	font-size: 25px;
	text-transform: capitalize;
	color: var(--sectitle-color);
	text-shadow: 1px 1px 1px;
	/* font-family: sans-serif; */
}

:target:before {
	content: "";
  /* background-color: red; */
  display: block;
	position: relative;
  height: 150px;
	margin-top: -150px;
}


#intro {
	background-image: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fil8.picdn.net%2Fshutterstock%2Fvideos%2F6059618%2Fthumb%2F8.jpg%3Fi10c%3Dimg.resize(height%3A160)&f=1");
	background-size: cover;
	/* padding-top: 10px; */
  padding-bottom: 20px;
	/* height: 45vh; */
	margin-top: 130px;
}

#intro:before {
	content: "";
  /* background-color: red; */
  display: block;
	position: relative;
  height: 130px;
	margin-top: -130px;
}

#form {
	font-size: large;
	width: 100%;
}

.form-field {
	display: block;
	margin: auto;
	width: 100%;
	font-size: large;
}


#email, #submit {
	box-shadow: 2px 2px 1px #000000;
	border-radius: 2px;
}

#email {
	max-width: 300px;
	height: 1.75em;
}

#submit {
	margin-top: 1em;
	height: 2em;
	max-width: 300px;
}

.one-third {
	background-color: var(--one-third-background, hsl(200.7, 10%, 60.8%));
	text-align: center;
	margin: 2.5em auto 2em auto;
	width: 85vw;
	max-width: 280px;
	height: 85vw;
	max-height: 280px;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	overflow: hidden;
}

.one-third h3 {
	padding: 10px;
	font-size: 18px;
	font-weight: bolder;
	margin: auto auto 0 auto;
	text-transform: capitalize;
}

.img-container {
	height: 100%;
	overflow: hidden;
}

.img-container img {
	width: 100%;
}

#for-bodyguards-img-container {
	margin-left: -50%;
	margin-right: -30%;
}

#like-jackman-img-container {
	margin-left: -10%;
	margin-right: -10%;
}

#GMO {
	height: 75%;
	padding: 1em;
	background-image: linear-gradient(to right,var(--header-background-color),var(--background-color));
	font-family: arial;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.GMO-lines {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

#GMO-line1 {
	height: 15%;
	color: hsl(68.7, 66.7%, 85.9%);
	font-size: 25px;
	font-weight: bold;
}

#GMO-line2 {
	height: 10%;
	text-transform: lowercase;
}

#GMO-line3 {
	height: 15%;
	color: hsl(248.7, 66.7%, 85.9%);
	font-size: 25px;
	font-weight: bold;
}

#GMO-line4 { 
	padding-top: 1em;
	height: 25%;
	font-size: 25px;
}

#fresh {
	text-transform: uppercase;
  background-image: linear-gradient(to right, hsl(68.7, 50%, 85.9%), hsl(248.7, 50%, 45.9%), black); 
  color: transparent;
  background-clip: text;
}

#GMO-line5 {
	height: 25%;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
}

#crow-eggs-img-container {
	margin-left: -15%;
	margin-right: -15%;
}

#crow-eggs-img-container img {
	margin-top: -10%;
}

#milk-img-container {
	margin-left: -20%;
	margin-right: -20%;
	overflow: hide;
}

#milk-img-container img {
	margin-top: -15%;
}

#video {
	width: 100%;
	height: 100%;
}

#one-month-free-img-container {
	margin-left: -40%;
	margin-right: -10%;
}

#one-month-free-img-container img {
	height: 100%;
}

footer {
	border-top-style: solid;
	width: 102vw;
	margin-left: -3vw;
}

footer p {
	padding-left: 10px;
	padding-right: 15px;
	font-size: small;
	text-align: center;
}

#animation-container {
	width: 100%;
	height: 100%;
	padding: 10px;
	background-image: url("https://www.tonytextures.com/free-texture-gallery/sky/Sky_Clouds_Photo_Texture_A_P4120979.JPG");
	/* background-color: cyan; */
  animation-name: fly;
  animation-duration: 2.9s;
  animation-iteration-count: infinite;  
  animation-play-state: paused;
}
	
/* crow animation */ 
#crow {
	margin: auto;
  width: 50%;
  height: 50%;
}

#animation-container:hover {
  animation-play-state: running;
}

#eyes {
  width: 40%;
  height: 20%;
  position: relative;
  top: 25%;
  left: 50%;
  background-color: black;
	z-index: 10;
  display: flex;
}

.eye {
  display: block;
  background-color: white;
  border-radius: 50%;
}

#left-eye {
  width: 120%;
  transform: scale(1.2);
  margin-right: 2px;
}

#right-eye {
  width: 100%;
}

.pupil {
  width: 75%;
  height: 75%;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
}

#beak-container {
  position: relative;
  top: 30%;
  left: 65%;
  width: 20%;
  height: 20%;
  background-color: yellow;
  transform: rotate(45deg);
  overflow: hidden;
	z-index: 10;
}

#beak {
  position: relative;
  left: 25%;
  width: 200%;
  height: 200%;
  border-style: solid;
  border-color: black;
  transform: rotate(45deg);
  
}

@keyframes fly {
  0%, 100%   {
		padding-top: 10%;
    font-size: small;
  }
 
  50%   {
		padding-top: 25%;
    font-size: x-large;
  }
}

#crow-body {
  width: 100%;
  height: 90%;
  border-radius: 50%;
  background-color: black;
}


.polygon {
  width: 100%;
  height: 100%;
  display: block;
}

#left {
  background-color: black;
  transform: skewX(45deg) translate(-50%); 
}

#left-wing {
	position: relative;
	left: 25%;
  width: 25%;
  height: 25%;
  overflow: hidden;
  transform: rotate(-10deg) scaleX(.5) skewX(-15deg) scale(1.2,1);
  animation-name: example;
  animation-duration: .7s;
  animation-iteration-count: infinite;
animation-play-state: inherit;
}

#right {
  background-color: black;
  transform: skewX(45deg) translate(-50%); 
}

#right-wing {
	position: relative;
	top: -25%;
	left: 50%;
  width: 25%;
  height: 25%;
  overflow: hidden;
  transform: rotate(-10deg) scaleX(.5) skewX(-15deg) scale(1.2,1);
  animation-name: example;
  animation-duration: .7s;
  animation-iteration-count: infinite;
	animation-play-state: inherit;
	z-index: 0;
}

@keyframes example {
  0%, 100%   {
    transform: rotate(-10deg) scaleX(.75) skewX(-20deg) translate(-25%, -200%) scale(1.2,1);
  }
 
  50%   {
    transform: rotate(-10deg) scaleX(.75) skewX(-20deg) translate(-25%, -100%) scale(1.2,-1);
  }
  
}





 /* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {

p {
	text-align: justify;
}

.one-third {
	box-shadow: 5px 5px 1px #000000;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.one-third {
	margin: 0;
	width: 265px;
	height: 265px;
	overflow: hidden;
}

.thirds-container {
	/* background-color: red; */
	display: grid;
	grid-template-columns: auto repeat(4, 132.5px) auto; 
	grid-template-rows: auto auto; 
	grid-gap: 12px 8px;
	margin: 2em 0;
}

.top-left {
  grid-area: 1/2/2/4;
}

.top-right {
  grid-area: 1/4/2/6;
}

.bottom-middle {
  grid-area: 2/3/3/5;
}

.bottom-left {
  grid-area: 2/2/3/4;
}

.bottom-right {
  grid-area: 2/4/3/6;
}

.top-middle {
  grid-area: 1/3/2/5;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#header {
	margin: 0;
	padding: 0;
}

#header-inner-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .5em;
}

#title {
	width: 50%;
	height: 50px;
	justify-content: flex-end;
}

#nav-bar-container {
	width: 50%;
	height: 50px;
}

#nav-bar {
	margin: auto;
	width: 100%;
	flex-direction: row;
	align-items: stretch;
}

.nav-link {
	/* background-color: red; */
	/* width: 100%; */
	padding-top: .5em;
	margin: 0 .5em;
}

.nav-link:hover {
	font-size: large;
}

:target:before {
  height: 66px;
	margin-top: -66px;
}

#intro {
	margin-top: 66px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.thirds-container {
	background-color: red;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 
