:root {
	--header-background-color: hsl(263.7, 17.3%, 24.8%);
	--header-font-color: hsl(68.7, 66.7%, 85.9%);
	--background-color: hsl(266.7, 14.8%, 76.1%);
	--font-color: hsl(26.7, 10.7%, 5.9%);
	--sectitle-color: hsl(146.7, 10.7%, 5.9%);
}

body {
	/* padding-top: 140px; */
	overflow-x: hidden;
	font-family: Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	background-color: var(--background-color, #5A457A);
	color: var(--font-color, #ECF3C3);
}

p {
	text-align: justify;
}

blockquote {
	text-align: justify;
	background-color: gray;
	font-style: italic;
}

#header, #main {
	width: 101vw;
}

#header {
	background-color: var(--header-background-color, #786792);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	margin: -8px 0 0 -9px;
}

#title {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center ;
	font-family: monaco, monospace;
	/* background-color: red; */
}

#header-img-container {
	/* display: inline-block; */
	width: 60px;
	/* background-color: yellow; */
}

#product-name-container {
  /* width: 50%; */
	/* display: inline-block; */
	text-transform: uppercase;
	color: var(--header-font-color, #ECF3C3);
	/* background-color: blue; */
}

#product-name-container	h1 {
 	margin: auto .25em auto auto;
  font-size: 40px;
}

#header-img {
	width: 100%;
	display: block;
	margin: auto;
}

#nav-bar {
	margin: auto auto auto -8px;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--header-background-color, #786792);
}

.nav-link {
	width: 100%;
	color: var(--header-font-color, hsl(68.7, 66.7%, 85.9%));
	text-decoration: none;	
}


section {
	padding: 50px 10px 0 10px;
}

section h2 {
	font-size: 25px;
	color: var(--sectitle-color);
	text-shadow: 1px 1px 1px;
	/* font-family: sans-serif; */
}

:target:before {
	content: "";
  /* background-color: red; */
  display: block;
	position: relative;
  height: 140px;
	margin: -80px 0 0 0 ;
}

#form {
	font-size: large;
	width: 100%;
}

.form-field {
	display: block;
	margin: auto;
	width: 100%;
	font-size: large;
}

#email {
	max-width: 287px;
	height: 1.75em;
}

#submit {
	margin-top: 1em;
	height: 2em;
	max-width: 300px;
}

.one-third {
	text-align: center;
	margin: 2.5em auto 2em auto;
	width: 85vw;
	height: 85vw;
	overflow: hidden;
}

.one-third h3 {
	font-size: 18px;
	font-weight: bolder;
	margin: auto auto 0 auto;
	text-transform: capitalize;
}

.img-container {
	height: 100%;
	overflow: hidden;
}

.img-container img {
	width: 100%;
}

#for-bodyguards-img-container {
	margin-left: -50%;
	margin-right: -30%;
}

#like-jackman-img-container {
	margin-left: -10%;
	margin-right: -10%;
}

#GMO {
	padding: 1em;
	background-image: linear-gradient(to bottom right,orange,white);
	font-family: arial;
}

#GMO p{
	text-align: center;
	margin: 0;
}

#GMO-line1 {
	color: blue;
	font-size: 25px;
	font-weight: bold;
}

#GMO-line2 {
	background-image: linear-gradient(to bottom right, gray, white);
	padding: .25em;
	text-transform: lowercase;
}

#GMO-line3 {
	color: red;
	font-size: 25px;
	font-weight: bold;
}

#GMO-line4 { 
	background-image: linear-gradient(to bottom right, gray, white);
	font-size: 25px;
}

#fresh {
	text-transform: uppercase;
  background-image: linear-gradient(to right, red, orange, yellow, green, violet); 
  color: transparent;
  background-clip: text;
}

#GMO-line5 {
	padding-top: 1em;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
}

#crow-eggs-img-container {
	margin-left: -15%;
	margin-right: -15%;
}

#crow-eggs-img-container img {
	margin-top: -10%;
}

#milk-img-container {
	margin-left: -20%;
	margin-right: -20%;
	overflow: hide;
}

#milk-img-container img {
	margin-top: -15%;
}

#video {
	height: 100%;
}

#one-month-free-img-container {
	margin-left: -40%;
	margin-right: -10%;
}

footer {
	border-top-style: solid;
	width: 102vw;
	margin-left: -3vw;
}

footer p {
	padding-left: 10px;
	padding-right: 15px;
	font-size: small;
	text-align: center;
}


#animation-container {
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: cyan;
  animation-name: fly;
  animation-duration: 2.9s;
  animation-iteration-count: infinite;  
  animation-play-state: paused;
}
	
/* crow animation */ 
#crow {
	margin: auto;
  width: 50%;
  height: 50%;
}

#animation-container:hover {
  animation-play-state: running;
}

#eyes {
  width: 40%;
  height: 20%;
  position: relative;
  top: 25%;
  left: 50%;
  background-color: black;
	z-index: 10;
  display: flex;
}

.eye {
  display: block;
  background-color: white;
  border-radius: 50%;
}

#left-eye {
  width: 120%;
  transform: scale(1.2);
  margin-right: 2px;
}

#right-eye {
  width: 100%;
}

.pupil {
  width: 75%;
  height: 75%;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
}

#beak-container {
  position: relative;
  top: 30%;
  left: 65%;
  width: 20%;
  height: 20%;
  background-color: yellow;
  transform: rotate(45deg);
  overflow: hidden;
	z-index: 10;
}

#beak {
  position: relative;
  left: 25%;
  width: 200%;
  height: 200%;
  border-style: solid;
  border-color: black;
  transform: rotate(45deg);
  
}

@keyframes fly {
  0%, 100%   {
		padding-top: 10%;
    font-size: small;
  }
 
  50%   {
		padding-top: 25%;
    font-size: x-large;
  }
}

#crow-body {
  width: 100%;
  height: 90%;
  border-radius: 50%;
  background-color: black;
}


.polygon {
  width: 100%;
  height: 100%;
  display: block;
}

#left {
  background-color: black;
  transform: skewX(45deg) translate(-50%); 
}

#left-wing {
	position: relative;
	left: 25%;
  width: 25%;
  height: 25%;
  overflow: hidden;
  transform: rotate(-10deg) scaleX(.5) skewX(-15deg) scale(1.2,1);
  animation-name: example;
  animation-duration: .7s;
  animation-iteration-count: infinite;
animation-play-state: inherit;
}

#right {
  background-color: black;
  transform: skewX(45deg) translate(-50%); 
}

#right-wing {
	position: relative;
	top: -25%;
	left: 50%;
  width: 25%;
  height: 25%;
  overflow: hidden;
  transform: rotate(-10deg) scaleX(.5) skewX(-15deg) scale(1.2,1);
  animation-name: example;
  animation-duration: .7s;
  animation-iteration-count: infinite;
	animation-play-state: inherit;
	z-index: 0;
}

@keyframes example {
  0%, 100%   {
    transform: rotate(-10deg) scaleX(.75) skewX(-20deg) translate(-25%, -200%) scale(1.2,1);
  }
 
  50%   {
    transform: rotate(-10deg) scaleX(.75) skewX(-20deg) translate(-25%, -100%) scale(1.2,-1);
  }
  
}





 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 
