body {
	/* padding-top: 140px; */
	overflow-x: hidden;
	font-family: Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}


#header, #main, #footer {
	width: 100vw;
}

#header {
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	left: 0;
	z-index: 100;
}

#title {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center ;
	font-family: monaco, monospace;
	/* background-color: red; */
}

#header-img-container {
	/* display: inline-block; */
	width: 60px;
	/* background-color: yellow; */
}

#product-name-container {
  /* width: 50%; */
	/* display: inline-block; */
	text-transform: uppercase;
	/* background-color: blue; */
}

#product-name-container	h1 {
 	margin: auto .25em auto auto;
  font-size: 40px;
}

#header-img {
	width: 100%;
	display: block;
	margin: auto;
}

#nav-bar {
	margin: auto auto auto -8px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.nav-link {
	width: 100%;
}

section {
	padding: 0px 10px;
}

section h2 {
	font-size: 25px;
	font-weight: bolder;
}

:target:before {
	content: "";
  /* background-color: red; */
  display: block;
	position: relative;
  height: 140px;
	margin: -140px 0 0 0 ;
}

#form {
	font-size: large;
	width: 100%;
}

.form-field {
	display: block;
	margin: auto;
	width: 100%;
	font-size: large;
}

#email {
	max-width: 287px;
	height: 1.75em;
}

#submit {
	margin-top: 1em;
	height: 2em;
	max-width: 300px;
}

.one-third {
	text-align: center;
	margin: 2.5em auto 2em auto;
	width: 85vw;
	height: 85vw;
	overflow: hidden;
}

.one-third h3 {
	font-size: 18px;
	font-weight: bolder;
	margin: auto auto 0 auto;
}

.img-container {
	height: 100%;
	overflow: hidden;
}

.img-container img {
	width: 100%;
}

#for-bodyguards-img-container {
	margin-left: -50%;
	margin-right: -30%;
}

#like-jackman-img-container {
	margin-left: -10%;
	margin-right: -10%;
}

blockquote {
	background-color: gray;
	font-style: italic;
}

#video {
	height: 100%;
}

#one-month-free-img-container {
	margin-left: -40%;
	margin-right: -10%;
}


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 
